.module-tiles{
	margin:0;
	position:absolute;
	top:70px;
	left:288px;
	right:0;
	bottom:0;
	border-left:1px solid #E53935;

	&__item{

		&:hover{
			background: rgba(0,0,0,.1);
		}
	}

	&__value{
		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		height:30px;
	}
}
md-virtual-repeat-container.module-tiles__list{
	position:absolute;
	top:140px;
	left:0;
	right:0;
	bottom:0;
}