body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
  background-size: cover; }

.arrow {
  display: inline-block;
  margin-left: 5px; }

.arrow--reverse {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.cursor-pointer {
  cursor: pointer; }

.no-data-alert {
  margin-top: 10%;
  text-align: center; }

p {
  margin: 0; }

.info {
  width: 80%;
  max-width: 1000px; }

.info__item {
  min-height: 45px;
  height: 45px;
  border-bottom: 1px solid #E53935;
  overflow-x: auto;
  overflow-y: hidden; }

.info__item-name {
  text-align: right;
  margin: 0 10px; }

.info__item-value {
  margin: 0 15px; }

.map-container {
  height: 100%;
  width: 100%; }

.map {
  width: 100%;
  height: 100%; }

.md-button.md-raised.button-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  margin: 0; }

.modules-list__list.md-virtual-repeat-container {
  height: 300px;
  margin-bottom: 80px;
  margin-left: 15px; }

.modules-list__header {
  border-bottom: 1px solid #dcdcdc; }

.modules-list__item {
  height: 35px;
  min-height: 35px; }

.modules-list__counter {
  text-align: center;
  margin-bottom: 10px; }

.modules-list__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.bottom-sheet {
  margin: 0;
  padding: 0; }

.login__img {
  margin-top: 14px; }

.markers-counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 10px 0;
  height: 110px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5%;
  background-clip: padding-box; }

.markers-counter__value {
  font-size: 60px; }

.menu {
  padding-right: 20px; }

.menu__logo {
  height: 70px;
  width: 250px;
  border-right: 2px solid #fff;
  margin-left: 40px;
  padding-right: 70px; }

.menu__logo-img {
  width: 50px;
  height: 50px; }

.menu__logo-name {
  font-size: 30px; }

.menu__account {
  width: 230px; }

.submenu__button {
  list-style: none;
  outline: none;
  width: 200px; }

.submenu__button.md-button.submenu__button--active.md-raised.md-primary {
  background-color: #E53935;
  transition: all 0.2s ease-in-out; }

.submenu__button.md-button.submenu__button--active.md-raised.md-primary:hover {
  background-color: #C62828; }

.module-menu {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 288px;
  right: 0;
  bottom: 0;
  border-left: 1px solid #E53935; }

.module-menu__list-item {
  height: 30px;
  outline: none; }

.module-menu__list-item:hover {
  background: rgba(0, 0, 0, 0.1); }

.module-menu__value {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.module-menu__tree-item {
  padding: 2px 0;
  height: 30px;
  outline: none; }

.module-menu__tree-item:hover {
  background: rgba(0, 0, 0, 0.1); }

.module-menu__tree-item--parent {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #000; }

.module-menu__tree-item:first-child {
  border: none;
  padding: 0; }

md-pagination-wrapper {
  min-width: 700px; }

md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
  width: 170px; }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height).module-menu__tabs {
  min-height: 100%; }

md-virtual-repeat-container.module-menu__tree, md-virtual-repeat-container.module-menu__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

md-virtual-repeat-container.module-menu__list {
  top: 140px; }

.list-module__whiteframe {
  margin: 10px; }

.list-module__input-container {
  margin: 18px 0 0; }

.list-module__list.md-virtual-repeat-container {
  position: absolute;
  top: 214px;
  left: 0;
  right: 0;
  bottom: 0; }

.list-module__item {
  height: 35px;
  transition: all 0.2s ease-in-out; }

.list-module__item:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.list-module__item-name {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.list-module__item-name--active {
  border: 2px solid lawngreen;
  border-radius: 20px; }

.list-module__item-name--disactive {
  border: 2px solid #E53935;
  border-radius: 20px; }

.module-tiles {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 288px;
  right: 0;
  bottom: 0;
  border-left: 1px solid #E53935; }

.module-tiles__item:hover {
  background: rgba(0, 0, 0, 0.1); }

.module-tiles__value {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px; }

md-virtual-repeat-container.module-tiles__list {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0; }

.module-info__list {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 70px;
  left: 288px;
  right: 0;
  bottom: 0;
  overflow: auto;
  border-left: 1px solid #E53935; }

.module-info__item {
  border-bottom: 1px solid #E53935;
  overflow: auto;
  white-space: nowrap; }

.module-zones {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 288px;
  right: 0;
  bottom: 0;
  border-left: 1px solid #E53935; }

.module-zones__list-item {
  height: 40px;
  outline: none; }

.module-zones__list-item:hover {
  background: rgba(0, 0, 0, 0.1); }

.module-zones__value {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.module-zones__item-name {
  margin-right: 20px;
  text-align: right; }

.module-zones__item {
  border-bottom: 1px solid #E53935;
  min-height: 40px;
  overflow-x: auto;
  white-space: nowrap; }

.module-zones__item--subheader {
  text-align: center; }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height).module-zones__tabs {
  min-height: 100%; }

md-virtual-repeat-container.module-zones__list {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0; }

.alarm {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 288px;
  right: 0;
  bottom: 0;
  border-left: 1px solid #E53935; }

.alarm__item-list:hover {
  background: rgba(0, 0, 0, 0.1); }

.alarm__value {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px; }

.alarm__item-name {
  margin-right: 20px;
  text-align: right; }

.alarm__item {
  border-bottom: 1px solid #E53935;
  min-height: 40px; }

.alarm__item--subheader {
  text-align: center; }

md-virtual-repeat-container.alarm__list {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0; }

.alarm-history {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 288px;
  right: 0;
  bottom: 0;
  border-left: 1px solid #E53935; }

.alarm-history__item-list:hover {
  background: rgba(0, 0, 0, 0.1); }

.alarm-history__value {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px; }

.alarm-history__item-name {
  margin-right: 20px;
  text-align: right; }

.alarm-history__item {
  border-bottom: 1px solid #E53935;
  min-height: 40px; }

.alarm-history__item--subheader {
  text-align: center; }

md-virtual-repeat-container.alarm-history__list {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0; }
