<md-dialog aria-label="Szczegóły strefy" class="info">

    <md-toolbar layout-align="center center">Szczegóły alarmu</md-toolbar>

    <md-content>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Nazwa</p>
            <p flex="50" ng-bind="tools.subtitle(moduleData.selectedAlarm.txtId)"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Id</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.id"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Id rodzica</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.parentId"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Widoczność</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.visibility ? 'Widoczny' : 'Ukryty'"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Typ</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.alarmType"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Ostatnia aktualizacja</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.lastUpdate"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Nazwa</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.txtId"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Id ikony</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.iconId"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Id podpiętego menu</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.menuId"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Możliwość zdalnego anulowania</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.remoteCancel == '1' ? 'Tak' : 'Nie'"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Wartość</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.value"></p>
        </md-item-list>
        <md-item-list class="alarm__item" flex layout="row" layout-align="space-around center">
            <p flex="50" class="alarm__item-name">Jednostka</p>
            <p flex="50" ng-bind="moduleData.selectedAlarm.unit != -1 ? moduleData.selectedAlarm.unit : '--'"></p>
        </md-item-list>
    </md-content>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-warn" ng-click="cancel()">Zamknij</md-button>
    </md-dialog-actions>

</md-dialog>